<div class="container">
    <div class="row">
        <h2 align="center" class="headertext">New Message</h2>
        <div align="center">
            <%= form_for(@message, :html => {class: "form-horizontal", role: "form"}) do |f| %>
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :message %> 
             </div>
             <div class="col-md-8">
               <%= f.text_field :description, class: 'form-control', placeholder: "Write Message here", autofocus: true %>
             </div>
           </div>
           
          <div class="form-group">
            
              <%= f.submit class: "btn btn-primary" %> 
              <%#= link_to "Back to Home Page", root_path, class: "btn btn-primary" %> 
            
          </div>
        
        <% end %>
        </div>
    </div>
</div>