<div class="container">
    <div class="row">
  <div class="col-md-12">
    <h2 align="center">User</h2>
       <%= @user.name %> <br />
       <%= link_to "Destroy Me", user_path(@user), method: :delete,  class: "btn btn-danger" %>
  </div>
</div>

</div>